<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  .badge{
    background-color: #252525;
    width:  200px;
    color: white;
    border-radius: 1rem;
    padding: 20px;
    height: 70px;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
    transition: box-shadow 0.1s;
    cursor: pointer;
  }
  .badge:hover{
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 30%);
  }
</style>

<div class="badge">

<div class="fgiufgdffi">
  <h1 style="margin-top: 0px;display: flex;align-items: baseline;margin-bottom: -7px;"><span id="total-views">0</span> <span class="landing-desc" style="margin-left: 20px;font-size: 20px;color: #D6DCE4;"> Total views</span></h1>

  <hr style="margin: 0px;opacity:0.1;margin-top:10px;">
  <span style="opacity: 0.4">Analytik</span>

</div>

<div class="fuirkrk" style="display: none;">

e
</div>  

</div>  