
{%extends "layout.html" %}
{%block content%}
  
<div id="landing-page"class="container">
  <div class="landing">
    <div>
      <h1 class="landing-title">Analytik</h1>
      <h3 class="landing-desc">A View tracking API for web devs</h3>
      <div style="display:flex;">
        <a href="/get"><button class="landing-button-poggers">get an api key</button></a>
        <a href="/dashboard"><button class="landing-button-poggers-gray">login</button></a>
      </div>
      <br>
      <a href="/help" style="opacity: 0.3;">help collect more data</a>
    </div>
    <img src="{{ url_for('static', filename='mark.png') }}">
  </div>
<script src="https://Analytik.arjun418.repl.co/collect/v1/R62mpNqW2mbjA37EqnpT1SFQ0AB1ZVhqdYhZ6v7yyVzBOV07g4"></script>
  <style>

    

  </style>
</div>
{% endblock %}