<!DOCTYPE html>
<html lang="en">

<head>
	<title>Analytik</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='mark.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="nav">
		<div></div>
		<a id="main-top" href="../">Analytik : The Open Source Website View Tracker</a>
		<div></div>
	</div>
	{% block content %} {% endblock %}

</body>
<script src="https://Analytik.arjun418.repl.co/collect/v1/R62mpNqW2mbjA37EqnpT1SFQ0AB1ZVhqdYhZ6v7yyVzBOV07g4"></script>

<style>

body{
  background-color:#36393F;
}

</style>

</html>