<!DOCTYPE html>
<html lang="en">

<head>
	<title>Analytik</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='mark.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="nav">
		<div></div>
		<a href="../">fdefdgfhghgfh</a>
		<div></div>
	</div>
	{% block content %} {% endblock %}

</body>
<script src='https://cknanalytics.ch1ck3n.repl.co/collect/v1/gOK4h1vZY2mDIeqmrO0xdwGO7TdF0I2go7MNcsEqrS8ZVx2jb8'></script>

</html>